/* variables */
:root {
    --breakpoint-mobile: 600px;
    --primary: #189118;
    --nav-bgc: #40a340;
    --white: #fff;
    /* --primary: #4f515a;
    --secondary: #ebebeb;
    --warning: #da0f41; */
  }