/* variables */
:root {
    --primary: #189118;
    --nav-bgc: #40a340;
    --white: #fff;
    --header-hover: #e6e6e6;
    --anchor-item-hover: #e6e6e6;
    --nav-item-hover: #50c550;
  }

body {
    margin: 0;
    padding: 0;
}