/* variables */
:root {
    --primary: #189118;
    --nav-bgc: #40a340;
    --black: #000;
    --white: #fff;
    --light-gray: #d3d3d3;
    --header-hover: #e6e6e6;
    --anchor-item-hover: #e6e6e6;
    --nav-item-hover: #50c550;
    --featured-attribution: #d3d3d3;
    --attribution: #767676;
    --category-sports-bgc: #ffffff94;
    --category-sports-attribution: #616161;
    --input-bgc: #cacaca;
    --input-focus: #ebebeb;
  }

body {
    margin: 0;
    padding: 0;
}